body {
  min-height: 100vh;
  color: var(--color-text);
  /* background: var(--color-background); */
  background-image: url('./images/backgrounds/light-bg-1.svg');
  background-position: center center;
  background-size: cover;

  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Jura', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
  font-family: 'Jura', sans-serif;
  /* Add other styling for headings as needed */
}

/* Custom styles for the button */
.btn-custom {
  border-radius: 0;
  background-color: #637bb0;
  color: white !important;
  transition: background-color 0.3s;
}
/* Override Bootstrap's hover styles for the button */
.btn-custom:hover {
  background-color: #445a88 !important;
  color: white !important;
}
.btn-custom-register {
  border-radius: 0;
  background-color: #be8bc7;
  color: white !important;
  transition: background-color 0.3s;
}
/* Override Bootstrap's hover styles for the button */
.btn-custom-register:hover {
  background-color: #a864b4 !important;
  color: white !important;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
/*router-link hover disabled */
.page-link,
.page-link:visited,
.page-link:hover,
.page-link:active,
.page-link:focus {
  outline: unset;
  border: unset;
}
/*NavBar hover disabled for background and some perks*/
.navbar-nav .nav-link,
.navbar-brand {
  color: #fff !important;
  transition: color 0.3s;
}
.navbar-nav .nav-link:hover,
.navbar-brand:hover {
  background-color: transparent !important;
  color: #bbc6dd !important;
  transition: color 0.3s;
}
